bin
.classpath
.project
.settings
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
/bin/
# ignore IDEA files
*.iml
*.ipr
*.iws
.idea
# ignore NetBeans files
nbactions.xml
nb-configuration.xml
catalog.xml
